	<!-- nav starts -->
	<div id="menu">
		<ul>
			<li class="first" ><a href="/admin">Admin Home</a></li>
            <li><a href="/admin/manageusers">Manage Users</a></li>
			<li class="last">
				<span class="opener">Manage Categories<b></b></span>
				<ul>
					<li><a href="/admin/addcategory">Add Category</a></li>
					<li><a href="/admin/addsubcategory">Add Sub Category</a></li>
				</ul>
			</li>
			<li><a href="/login">Logout</a></li>
		</ul>
		<br class="clearfix" />
	</div>
	<b>Welcome Admin : <%= sunm %></b>
	<!-- nav ends -->