<% include header %>

<% include adminnav %>

<!-- page starts -->
	<div id="page">
	<center>	
			<div class="box">
				<h2>Welcome to eAuction , Admin Panel</h2>
				<h3>Admin Home Page</h3>
			</div>
			<br class="clearfix" />
	</center>		
	</div>
	<!-- page ends -->

<% include userfooter %>