<% include header %>

<% include usernav %>


	<!-- page starts -->
	<div id="page">
	<center>	
			<div class="box">
				<h2>Transaction Failed , Please Try Again.....</h2>
				<a href="/users/funds">Click to make payment again</a>
			</div>
			<br class="clearfix" />
	</center>		
	</div>
	<!-- page ends -->

<% include userfooter %>