	<!-- page bottom -->
	<div id="page-bottom">
		<div id="page-bottom-content">
			<h3>Portfolio</h3>
			<p>
				Euismod sodales sociis hendrerit pulvinar acursus urna. Consectetur egestas sodales at ornare laoreet turpis. Lorem id sapien ridiculus sagittis imperdiet urna suspendisse. Posuere arcu parturient quam risus. Aliquam nullam magnis integer gravida vulputate felis. Consectetur montes sollicitudin dictum. Auctor sociis hendrerit pulvinar acursus urna lorem ipsum dolor vivamus pulvinar libero. Massa egestas cubilia lacus augue mattis consectetur.
			</p>
		</div>
		<div id="page-bottom-sidebar">
			<h3>Usable Links</h3>
			<ul class="list">
				<li class="first"><a href="#">About</a></li>
				<li><a href="#">Register</a></li>
				<li class="last"><a href="#">Contact</a></li>
			</ul>
		</div>
		<br class="clearfix" />
	</div>
	<!-- page bottom ends -->

</div>
<!-- wrapper ends -->

<!-- footer starts -->
<div id="footer">
	<h2>&copy; PostKrde.com , All rights reserved. Design by <a href="" rel="nofollow">MeanBatch45</a></h2>
</div>
<!-- footer ends -->

</body>
</html>