<% include header %>

<% include nav %>

<% include slider %>


	<!-- page starts -->
	<div id="page">

		<!-- content starts -->
		<div id="content">
			<div class="box">
				<h1>Login Here!!!</h1>
				<font style="font-size:20px;" color="blue" ><%= output %></font>
				<form method="POST" action="/login">
				<table  cellspacing="10">
				<tr>
				<td>Username</td>
				<td><input type="text" name="username" value="<%= cunm %>" /></td>	
				</tr>	
				<tr>
				<td>Password</td>
				<td><input type="password" name="password" value="<%= cpass %>" /></td>	
				</tr>
				<tr>
				<td colspan="2"><input type="checkbox" name="chk" value="remember" /> Remember me?</td>	
				</tr>
				<tr>
				<td colspan="2">
				<input type="submit" value="Login" />	
				</td>	
				</tr>
				</table>	
				</form>
			</div>
			<br class="clearfix" />
		</div>
		<!-- content ends -->

		<!-- sidebar starts -->	
		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">@Facebook</a></li>
					<li><a href="#">@Twitter</a></li>
					<li><a href="#">@Instagram</a></li>
					<li><a href="#">@Gmail</a></li>
				</ul>
			</div>
		</div>
		<!-- sidebar ends -->

		<br class="clearfix" />
	</div>
	<!-- page ends -->

<% include footer %>