<% include header %>

<% include usernav %>


	<!-- page starts -->
	<div id="page">
	<center>	
			<div class="box">
				<h2>Transaction completed successfully.....</h2>
				<h1>Thanks for support</h1>
			</div>
			<br class="clearfix" />
	</center>		
	</div>
	<!-- page ends -->

<% include userfooter %>