<% include header %>

<% include usernav %>


	<!-- page starts -->
	<div id="page">
	<center>	
			<div class="box">
				<h2>Welcome to eAuction , User Panel</h2>
				<h3>User Home Page</h3>
			</div>
			<br class="clearfix" />
	</center>		
	</div>
	<!-- page ends -->

<% include userfooter %>