</div>
<!-- wrapper ends -->

<!-- footer starts -->
<div id="footer">
	<h2>&copy; PostKrde.com , All rights reserved. Design by <a href="" rel="nofollow">MeanBatch45</a></h2>
</div>
<!-- footer ends -->

</body>
</html>