	<!-- nav starts -->
	<div id="menu">
		<ul>
			<li class="first" ><a href="/users">User Home</a></li>
			<li><a href="/users/funds">Raise Funds</a></li>
			<li><a href="/users/cpuser">Change Password</a></li>
			<li><a href="/users/epuser">Edit Profile</a></li>
			<li><a href="/login">Logout</a></li>
		</ul>
		<br class="clearfix" />
	</div>
	<b>Welcome User : <%= sunm %></b>
	<!-- nav ends -->